/*CSS練習１*/
/*h1{color: green;}*/
h1{color: #0b6ff1;}
/*CSS:枠線の指定*/
th,td{border: dashed thick black;}
/*borderプロパティ*/
/*th,td{border: dashed thick　#000000;}*/
/*th,td{border: transparent;}*/
/*CSS:Class属性とセレクタ*/
th.important{color: red;}
p.sample1{border: double 10px #07ee07;}
p.sample2{border: inset 10px #ffee00;}
p.sample3{margin: 30px 30px; padding: 10px; border: medium solid #ff00ff;}